/practica1/nbproject/private/
/Animales/nbproject/private/
/Animales/build/
/miniCalculadora/nbproject/private/
/miniCalculadora/build/
/Reinos/nbproject/private/
/Reinos/build/
/PruebaDesempeño/nbproject/private/
/PruebaDesempeño/build/
/CiclosWhile/nbproject/private/
/Interface/nbproject/private/
/Interface/build/
/practicaEstudio/nbproject/private/